@{
    var config = new WebNotesSite.Framework.SiteConfiguration();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="@config.JQueryCdnUrl"></script>
    <script type="text/javascript" src="@config.VueJsCdnUrl"></script>
    <link rel="stylesheet" href="~/Style/Site.css" type="text/css" />
</head>
<body>
    @Html.IncludeComponent("HeaderComponent")
    <div id="header-context">
        <header-component></header-component>
    </div>

    <script>
        new Vue({el: '#header-context'});
    </script>

    @RenderBody()
</body>
</html>